:root {
  color: #1f48ff;
  background: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  min-height: 100%;
  scroll-behavior: smooth;
  background: #ffffff;
}

body {
  min-height: 100%;
  margin: 0;
  background: #ffffff;
  font-family: Inter, ui-sans-serif, system-ui, sans-serif;
}